version: "3.9"

services:
  database:
    build: ./database
    
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    env_file:
      - .env

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"

  etl:
    build: ./etl
    depends_on:
      - backend
